@model DoAnCoNgan.Models.TaiKhoan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>TaiKhoan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MatKhau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MatKhau)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VaiTro)
            </dt>

            <td>
                @if (Model.VaiTro == true)
                {
                    <p>Admin</p>
                }
                else
                {
                    <p>Customer</p>
                }
            </td>s

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaTaiKhoan }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
