@model DoAnCoNgan.Models.CauHinh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CauHinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenCauHinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCauHinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIATRI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIATRI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCauHinh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
