@model IEnumerable<DoAnCoNgan.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Chi Tiết Đơn Hàng";
}

<h2>Chi Tiết Đơn Hàng - @ViewBag.MaDonHang</h2>

<table class="table">
    <tr>
        <th>Sản Phẩm</th>
        <th>Số Lượng</th>
        <th>Đơn Giá</th>
        <th>Tiểu Giảm</th>
        <th>Tiền Thuế</th>
        <th>Tổng Tiền</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SanPham.TenSanPham)</td>
            <td>@Html.DisplayFor(modelItem => item.Soluong)</td>
            <td>@Html.DisplayFor(modelItem => item.DonGia)</td>
            <td>@Html.DisplayFor(modelItem => item.TieuGiam)</td>
            <td>@Html.DisplayFor(modelItem => item.TienThue)</td>
            <td>@Html.DisplayFor(modelItem => item.TongTien)</td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to DonHang", "Index", "DonHangs")
</p>
