@model DoAnCoNgan.Models.NguoiDung
@{
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chỉnh Sửa Thông Tin Người Dùng</title>
</head>
<body>
    <h2>Chỉnh Sửa Thông Tin Người Dùng</h2>
    @using (Html.BeginForm("Edit", "NguoiDungs", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.MaNguoiDung)
        <div>
            @Html.LabelFor(model => model.TenNguoiDung)
            @Html.TextBoxFor(model => model.TenNguoiDung)
        </div>
        <div>
            @Html.LabelFor(model => model.DiaChi)
            @Html.TextBoxFor(model => model.DiaChi)
        </div>
        <div>
            @Html.LabelFor(model => model.SDT)
            @Html.TextBoxFor(model => model.SDT)
        </div>
        <div class="form-group">
            @Html.Label("ImageFile", "Hình ảnh", new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-group full-width">
                <input type="file" name="ImageFile" class="form-control full-width no-max-width" />
            </div>
        </div>
        <button type="submit">Lưu thay đổi</button>
    }
</body>
</html>
